<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/std2.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center congrats">
            <h1>Bienveue et Félicitations !</h1>
            <h2>BAC 2k20</h2>
            <div class="d-flex justify-content-center">
              <h3>You did it </h3> <img style="margin-left: 15px; max-width: 30px; max-height: 30px; margin-top: 21px;" src="assets/img/emoji.png">
            </div>
            <br />
            <a routerLink="/score" class="btn btn-primary btn-round"><i class="fa fa-play"></i>Calculer Score</a>
            <a target="_blank" href="https://www.facebook.com/groups/654680431925321" class="btn btn-outline-neutral btn-round">Informations</a>
        </div>
    </div>
  </div>
  
  
  